Nombre Mascota,Raza,Peso,Fecha de Nacimiento,Sexo,Temperamento,Número de Carnet,Estado Reproductivo,Número de Partos,Color,Fecha de Fallecimiento,Motivo de Fallecimiento,Comentarios del Fallecimiento,Nombre Propietario,Ciudad,Dirección,Télefono,Whatsapp,Email,Tipo de Documento,Número de Documento,Profesión,Estado,Notificaciones Whatsapp
Ann,Labrador,31.35,2013-02-16,Hembra,Tímido,F022A751,No Esterilizado,5,Gris,,,,Damon Jones,Cali,47526 Phillip Forest Suite 412,3075167663,,jasminecarr@example.com,Pasaporte,145907227,Peluquera,Inactivo,No
